@-moz-document domain("tgdmb.com") {

	/* General font families for common tags */
	font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif }
	a:link,a:active,a:visited { color : #006699; }
	a:hover		{ text-decoration: underline; color : #DD6900; }


	/* Main table cell colours and backgrounds */
	td.row1	{ background-color: #EFEFEF; }
	td.row2	{ background-color: #DEE3E7; }
	td.row3	{ background-color: #D1D7DC; }

	/*
		This is for the table cell above the Topics, Post & Last posts on the index.php page
		By default this is the fading out gradiated silver background.
		However, you could replace this with a bitmap specific for each forum
	*/
	td.rowpic {
			background-color: #FFFFFF;
			background-image: url(templates/subSilver/images/cellpic2.jpg);
			background-repeat: repeat-y;
	}

	
	td.row3Right,td.spaceRow {
		background-color: #D1D7DC; border: #FFFFFF; border-style: solid;
	}

	
	.gen,.genmed,.gensmall { color : #000000; }
	a.gen,a.genmed,a.gensmall { color: #006699; text-decoration: none; }
	a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #DD6900; text-decoration: underline; }


	a.mainmenu		{ text-decoration: none; color : #006699;  }
	a.mainmenu:hover{ text-decoration: underline; color : #DD6900; }

	/* Forum category titles */
	
	a.cattitle		{ text-decoration: none; color : #006699; }
	a.cattitle:hover{ text-decoration: underline; }

	/* Forum title: Text and link to the forums used in: index.php */

	a.forumlink 	{ text-decoration: none; color : #006699; }
	a.forumlink:hover{ text-decoration: underline; color : #DD6900; }

	/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
	
	a.nav			{ text-decoration: none; color : #006699; }
	a.nav:hover		{ text-decoration: underline; }

	/* titles for the topics: could specify viewed link colour too */

	a.topictitle:link   { text-decoration: none; color : #006699; }
	a.topictitle:visited { text-decoration: none; color : #5493B4; }
	a.topictitle:hover	{ text-decoration: underline; color : #DD6900; }




	a.postlink:link	{ text-decoration: none; color : #006699 }
	a.postlink:visited { text-decoration: none; color : #5493B4; }
	a.postlink:hover { text-decoration: underline; color : #DD6900}

	

	/* Copyright and bottom info */

	a.copyright		{ color: #444444; text-decoration: none;}
	a.copyright:hover { color: #000000; text-decoration: underline;}

	

	/* The text input fields background colour */
	input.post, textarea.post, select {
		background-color : #FFFFFF;
	}

	

	/* The main submit button option */
	input.mainoption {
		background-color : #FAFAFA;
		font-weight : bold;
	}

	/* None-bold submit button */
	input.liteoption {
		background-color : #FAFAFA;
		font-weight : normal;
	}

	/* This is the line in the posting page which shows the rollover
		help line. This is actually a text box, but if set to be the same
		colour as the background no one will know ;)
	*/
	.helpline { background-color: #DEE3E7; border-style: none; }

}

/* ====================================
				Index Styles	(100% = 1 em ~= 16px ~= 14pt)
======================================*/
@-moz-document url-prefix("http://tgdmb.com") {

	hr	{ height: 0; border: solid #D1D7DC 0; border-top-width: 0.0625em;}

	/* This is the border line & background colour round the entire page */
	.bodyline	{ background-color: #FFFFFF; border: .0625em #98AAB1 solid; }

	/* This is the outline round the main forum tables */
	.forumline	{ background-color: #FFFFFF; border: 0.125em #006699 solid; }

	/* Header cells - the blue and silver gradient backgrounds */
	th	{
		color: #FFA34F; font-size: 0.6875em; font-weight : bold;
		background-color: #006699; height: 1.5625em;
		background-image: url(templates/subSilver/images/cellpic3.gif);
	}

	td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
		background-image: url(templates/subSilver/images/cellpic1.gif);
		background-color:#D1D7DC; border: #FFFFFF; border-style: solid; height: 1.75em;
	}
	
	/*
		Setting additional nice inner borders for the main table cells.
		The names indicate which sides the border will be on.
		Don't worry if you don't understand this, just ignore it :-)
	*/
	td.cat,td.catHead,td.catBottom {
		height: 1.8125em;
		border-width: 0;
	}
	th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
		font-weight: bold; border: #FFFFFF; border-style: solid; height: 1.75em;
	}

	th.thHead,td.catHead { font-size: .75em; border-width: 0.0625em 0.0625em 0 0.0625em; }
	
	th.thHead,td.catHead { font-size: 0.75em; border-width: 0.0625em  0.0625em  0 0.0625em ; }
	th.thSides,td.catSides,td.spaceRow	 { border-width: 0 0.0625em  0 0.0625em ; }
	th.thRight,td.catRight,td.row3Right	 { border-width: 0 0.0625em  0 0; }
	th.thLeft,td.catLeft	  { border-width: 0 0 0 0.0625em ; }
	th.thBottom,td.catBottom  { border-width: 0 0.0625em  0.0625em  0.0625em ; }
	th.thTop	 { border-width: 0.0625em  0 0 0; }
	th.thCornerL { border-width: 0.0625em  0 0 0.0625em ; }
	th.thCornerR { border-width: 0.0625em  0.0625em  0 0; }

	/* The largest text used in the index page title and toptic title etc. */
	.maintitle	{
		font-weight: bold; font-size: 1.375em; font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
		text-decoration: none; line-height : 120%; color : #000000;
	}

	/* General text */
	.gen { font-size : 0.75em; }
	.genmed { font-size : 0.6875em; }
	.gensmall { font-size : 0.625em; }

	/* The register, login, search etc links at the top of the page */
	.mainmenu		{ font-size : 0.6875em; color : #000000 }

	.cattitle		{ font-weight: bold; font-size: 0.75em ; letter-spacing: 0.0625em; color : #006699}

	.forumlink { font-weight: bold; font-size: 0.75em; color : #006699; }

	.nav { font-weight: bold; font-size: 0.6875em; color : #000000;}

	.topictitle,h1,h2	{ font-weight: bold; font-size: 0.6875em; color : #000000; }

	/* Name of poster in viewmsg.php and viewtopic.php and other places */
	.name			{ font-size : 0.6875em; color : #000000;}

	/* Location, number of posts, post date etc */
	.postdetails		{ font-size : 0.625em; color : #000000; }	

	/* The content of the posts (body of text) */
	.postbody { font-size : 0.75em; line-height: 1.125em}

	/* Quote & Code blocks */
	.code {
		font-family: Courier, 'Courier New', sans-serif; font-size: 0.6875em; color: #006600;
		background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
		border-left-width: 0.0625em; border-top-width: 0.0625em; border-right-width: 0.0625em; border-bottom-width: 0.0625em
	}

	.quote {
		font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 0.6875em; color: #444444; line-height: 125%;
		background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
		border-left-width: 0.0625em; border-top-width: 0.0625em; border-right-width: 0.0625em; border-bottom-width: 0.0625em
	}

	.copyright		{ font-size: 0.625em; font-family: Verdana, Arial, Helvetica, sans-serif; color: #444444; letter-spacing: -0.0625em;}

	/* Form elements */
	input,textarea, select {
		color : #000000;
		font: normal 0.6875em Verdana, Arial, Helvetica, sans-serif;
		border-color : #000000;
	}

	input { text-indent : 2px; }

	/* The buttons used for bbCode styling in message post */
	input.button {
		background-color : #EFEFEF;
		color : #000000;
		font-size: 0.6875em; font-family: Verdana, Arial, Helvetica, sans-serif;
	}

}


/* ====================================
				Subforum Styles
======================================*/
@-moz-document url-prefix("http://tgdmb.com/viewforum.php") {

}


/* ====================================
				Thread Styles
======================================*/
@-moz-document url-prefix("http://tgdmb.com/viewtopic.php") {
  
}